@model Product

@{
}

<div class="jumbotron">
    <h2>@Model.Name</h2>
    <h3>@String.Format("{0:C}",Model.Price)  Avaliable: @Model.Stock</h3>
    @Html.ActionLink("Add To Cart", "AddToCart", new { id = @Model.Id })
</div>

