@model BillingInfo

@{
}

<div class="jumbotron">
    <h3>Welcome @Model.EmailAddress</h3>

    <h5>Billing Info <a href="EditUser">edit</a></h5>
    <ul>
        <li>Name: @Model.FirstName @Model.LastName</li>
        <li>Address: @Model.Address@(Model.Address2 == null ? "" : ", " + Model.Address2)</li>
        <li>City: @Model.City</li>
        <li>State: @Model.State</li>
        <li>Zip Code: @Model.ZipCode</li>
    </ul>
</div>
